* {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1200px;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    line-height: 30px;
}